<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Vertical Tank Maintenance</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

  <body>
	<div id="container">
		<div id="header">
			<h1>Vertical Tank Maintenance</h1>
			  <div class="topnav">
			  <a class="homenav" href="./index.html">Home</a>
			  <a href="about.html">About</a>
			  <a href="kim.html">Estimate</a>
			  </div>
		</div>
		
		<div id="content">
			<div id="main">
				<h2>Welcome to VTM!</h2>
				<img src="./above_ground_vertical_tanks.jpg" alt="image_source">
				<figcaption>Image_source</figcaption>
				<p> Lorem ipsum dolor sit amet consectetur adipiscing elit lobortis, ut donec cum eleifend fermentum vel sociosqu natoque, primis curae est pellentesque magnis interdum eu. Pellentesque aliquam consectetur morbi suspendisse natoque enim sed, integer praesent posuere commodo ultricies aenean est dolor, metus ut id eleifend elementum malesuada. Elit amet morbi orci est pretium ante, per enim tristique condimentum sodales leo, dictum curae aptent ad sollicitudin. Cum integer convallis augue parturient viverra natoque velit ridiculus, sagittis cursus sollicitudin ut porttitor arcu accumsan, euismod quam placerat netus lorem faucibus taciti. Tortor orci neque ad velit sem aptent mollis egestas tellus et, porta nostra pellentesque non commodo nisl phasellus hendrerit odio, nibh interdum donec at fames dictumst consequat conubia tempus.  </p>

			</div>
		</div>
	</div>
	<div id="footer">
		&copy; VTM 2020
	</div>

 </body>

</html>
