<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Vertical Tank Maintenance</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

  <body>
	<div id="container">
		<div id="header">
			<h1>Vertical Tank Maintenance</h1>
			  <div class="topnav">
			  <a class="homenav" href="./index.html">Home</a>
			  <a href="./about.html">About</a>
			  <a href="./kim.html">Estimate</a>
			  </div>
		</div>
		
		<div id="content">
			<div id="main">
				<h2>VTM Estimator</h2>
				<hr>


			</div>
		</div>
	</div>
	<div id="footer">
		&copy; VTM 2020
	</div>

 </body>

</html>